*{
    box-sizing: border-box;
}


body{
    font-family: 'Poppins';
    margin: 0;
}


figure{
    margin:0;
}

.aboutme{
    min-height: 100svh;
    background-color: #13171C;
    color: #EEEEEE;
    text-wrap: balance;
}
.aboutme__content{
    width: 90%;
    margin: 0 auto;
    padding: 60px 35px 30px 35px;
    max-width: 1024px;
    margin: 0 auto;
}
.aboutme__title{
    margin-top: 0;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 29px;
}
.aboutme__text{
    margin-bottom: 38px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.aboutme__img{
    width: 100%;
    height: auto;
}
@media(min-width:1024px){
    .aboutme__content{
        padding: 0 35px;
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
        gap: 50px;
        align-items: center;
        height: 100svh;
    }
    .aboutme__text{
        margin-bottom: 0;
    }
    .aboutme__img{
        max-width: 80%;
        margin: 0 auto;
    }
}

